@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: 'Joan';
  src: url('/fonts/Joan-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Joan', serif;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.bg-landing {
  position: relative;
  background-image: url('/img/Group 8.png');
  background-size: cover;
  background-position: center;
  z-index: 0;
  height: 100vh;
}

.bg-landing::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.733)); /* customize gradient */
  pointer-events: none;
}


@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.5s ease-in-out both;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.98);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.service-card {
  position: relative;
}

.service-card::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  background: #f5f3ef;
  /* border-radius: 50%; */
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  transition: width 0.7s ease, height 0.7s ease;
  z-index: 0;
  pointer-events: none;
}

.service-card:hover::before {
  width: 300%;
  height: 300%;
}


.bg-testimonials {
  position: relative;
  background-image: url('/img/interior.jpg');
  background-size: cover;
  background-position: center;
  z-index: 0;
  height: 60vh;
}


.bg-linear-goldWhite{
  background-image: linear-gradient(to right, #FFF5DC 0%, #FFFCF4 35%, #FFFCF4 70%, #FFF5DC 100% );
}